.basket {
  box-shadow: -10px 0 20px 0 $shadow-color;

  color: BLACK;
  flex-grow: 2;
  height: 100vh;
  max-width: 300px;

  .products {
    padding: 1.5rem;

    .product {
      margin-bottom: 1.5rem;
      line-height: 2.5rem;
      border-bottom: 1px solid BLACK;

      input[type="number"] {
        width: 3rem;
        margin-right: 1rem;
      }
    }
  }
}
