$product-border-color: #000;

.menu {
  flex-grow: 2;
  width: 70%;

  .products {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .product {
      box-shadow: 5px 20px 50px 0px $shadow-color;
      background-color: $primary-color;
      color: $secondary-color;
      padding: 2rem;
      margin: 1rem;
      border-radius: 25px;
      border: 1px solid $product-border-color;

      .name {
        font-size: 2rem;
      }

      .ingredients {
        @extend text-center;
      }

    }
  }
}
