@import "grid";
@import "text-decorations";
@import "colors";
@import "btns";

@import "components/products";
@import "components/basket";
@import "components/contact-info";
@import "components/order";


body {
  color: $text-color;
  line-height: 1.6rem;
}

header {
  padding: 2rem 0 2rem 0;
  background: $primary-color;
  color: $secondary-color;
}
